POSTGRES_USER=db_admin
POSTGRES_PASSWORD=
POSTGRES_PORT=5432
POSTGRES_DB=evmauth

REDIS_PASSWORD=

MINIO_ROOT_USER=minio_admin
MINIO_ROOT_PASSWORD=

# Tilt task: fund-wallets, deploy-beacon
BEACON_OWNER_ADDRESS=
# Tilt task: fund-wallets
PLATFORM_OPERATOR_ADDRESS=
# Tilt task: deploy-platform
EVMAUTH_BEACON_ADDRESS=
