EVM_RPC_URL=http://localhost:8545
EVM_PLATFORM_CONTRACT_ADDRESS=0xDc64a140Aa3E981100a9becA4E685f962f0cF6C9
EVM_PLATFORM_OPERATOR_ADDRESS=0x0000000000000000000000000000000000000000
EVM_CHAIN_ID=723

POSTGRES_DB=evmauth
POSTGRES_HOST=postgres
POSTGRES_MAX_CONNECTIONS=5
POSTGRES_MIN_CONNECTIONS=0
POSTGRES_PASSWORD=
POSTGRES_PORT=5432
POSTGRES_USER=auth_user

REDIS_HOST=redis
REDIS_PASSWORD=
REDIS_PORT=6379

JWT_PRIVATE_KEY_PEM=
JWT_PUBLIC_KEY_PEM=

WALLETS_SERVICE_URL=http://int-wallets:8000
