POSTGRES_DB=evmauth
POSTGRES_HOST=postgres
POSTGRES_MAX_CONNECTIONS=5
POSTGRES_MIN_CONNECTIONS=0
POSTGRES_PASSWORD=
POSTGRES_PORT=5432
POSTGRES_USER=registry_user

REDIS_HOST=redis
REDIS_PASSWORD=
REDIS_PORT=6379

# EVM
# Local dev (Anvil): http://localhost:8545, chain ID 31337
# Radius Testnet: https://rpc.testnet.radiustech.xyz, chain ID 72344
# Radius Network: https://rpc.radiustech.xyz, chain ID 723
EVM_RPC_URL=http://localhost:8545
EVM_PLATFORM_CONTRACT_ADDRESS=
EVM_CHAIN_ID=31337

WALLETS_SERVICE_URL=http://int-wallets:8000
